    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <!--[if gte IE 10]><!-->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <!-- <link href='https://fonts.googleapis.com/css?family=Oswald:700|Alegreya:400,400italic,700|Montserrat' rel='stylesheet' type='text/css'> -->
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/ui/css/styles.css" />
    <!-- <![endif]-->

    <link href="https://fonts.googleapis.com/css?family=EB+Garamond" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet" type="text/css">
