    <div class="navsa-bar clearfix">
        <a class="login" href="#">Login</a>
        <a href="http://navsa.org/members/join-navsa">
            <img class="navsa-logo" src="{{ site.baseurl }}/ui/img/NAVSAlogo@2x.png" height="39" alt="NAVSA logo" />
        </a>
        <div class="black-ribbon"></div>
    </div>
    <div class="wrapper">
        <div class="masthead clearfix">
            <a class="logo-link" href="{{ site.baseurl }}/">
                <img class="logo" src="{{ site.baseurl }}/ui/img/logo.png" alt="SHORE logo" />
            </a>
            <div class="nav-bar" role="navigation">
                <div class="menu-nav-button"><span>Menu</span></div><!--
                --><div><div><a {% if page.active == 'home' %}class="active" {% endif %}href="{{ site.baseurl }}/">Home</a></div><!--
                --><div><a {% if page.active == 'about' %}class="active" {% endif %}href="{{ site.baseurl }}/about">About</a></div><!--
                --><div><a {% if page.active == 'blog' %}class="active" {% endif %}href="{{ site.baseurl }}/blog">Blog</a></div><!--
                --><div><a {% if page.active == 'projects' %}class="active" {% endif %}href="{{ site.baseurl }}/projects">Projects</a><!--
                    --><div><!--
                        --><a href="http://dev-rc-distro.pantheon.io/">COVE Alpha</a><!--
                        --><a href="http://infiniteulysses.com">Infinite Ulysses</a><!--
                    --></div><!--
                --></div><!--
                --><div><a {% if page.active == 'credits' %}class="active" {% endif %}href="{{ site.baseurl }}/credits">Credits</a></div><!--
                --><div><a {% if page.active == 'contact' %}class="active" {% endif %}href="{{ site.baseurl }}/contact">Contact</a></div></div>
            </div>
        </div>
    </div>
