<!DOCTYPE html>
<html lang="en">
<head>
{% include head.html %}
    <title>{{ page.title }}</title>
</head>
<body>
<div class="outer">
{% include header.html %}
<div class="background">
    <div class="wrapper">
        <div class="content">
            <h2>About SHORE</h2>
{% for page in site.pages %}
{% if page.url == '/about/' %}
            {{ page.excerpt }}
{% endif %}
{% endfor %}
            {{ content }}
            <div class="blog-posts">
                <h2>This is a Blog Post Title</h2>
                <p class="date">May 1st, 2016</p>
                <p>Hic sequi ut iusto omnis sint est. Et quia aliquam architecto et vel tempore quibusdam expedita. Blanditiis odio est in asperiores ipsa est debitis ut.</p>
        </div>
    </div>
</div>
<div class="push"></div></div>
<div class="footer">
    <div class="black-ribbon"></div>
    <p>© 2015 North American Victoria Studies Association<br />
        Dept. of English, Purdue University, 500 Oval Dr., West Lafayette, IN 47907</p>
</div>
<script
src="https://code.jquery.com/jquery-2.2.3.min.js"
integrity="sha256-a23g1Nt4dtEYOj7bR+vTu7+T8VP13humZFBJNIYoEJo="
crossorigin="anonymous"></script>
<script src="{{ site.baseurl }}/ui/js/script.js"></script>
</body>
</html>
