<!DOCTYPE html>
<html lang="en">
<head>
{% include head.html %}
    <title>{{ page.title }}</title>
</head>
<body>
<div class="outer">
{% include header.html %}
<div class="background"><div class="black-ribbon"></div>
    <div class="wrapper">
        <div class="content">
{% if page.img %}
            <figure>
                <img src="{{ site.baseurl }}/ui/img/{{ page.img }}" />
{% if page.img_caption %}
                <figcaption>
{% if page.img_caption_header %}
                    <h2>{{ page.img_caption_header }}</h2>
{% endif %}
                    {{ page.img_caption }}
                </figcaption>
{% endif %}
            </figure>
{% endif %}
            <h1>{{ page.title }}</h1>
            {{ content }}
        </div>
    </div>
</div>
<div class="push"></div></div>
{% include footer.html %}
<script
src="https://code.jquery.com/jquery-2.2.3.min.js"
integrity="sha256-a23g1Nt4dtEYOj7bR+vTu7+T8VP13humZFBJNIYoEJo="
crossorigin="anonymous"></script>
<script src="{{ site.baseurl }}/ui/js/script.js"></script>
</body>
</html>
